<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Ajax Crud</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">DjangoAjaxCrud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item font-weight-bold">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item font-weight-bold">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item font-weight-bold">
              <a class="nav-link" href="#">Contact Me</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="https://www.google.com/search" method="get" target="_blank">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    <div class="container my-3">
        <p id="message" class=""></p>
        <h2>Add your note</h2>
        <form id="add-note-form">
            <div class="form-group">
                <label for="title">Note title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter your note title">
            </div>
            <div class="form-group">
                <label for="description">Note description</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Enter your note descriptiom"></textarea>
            </div>
            <button type="button" class="btn btn-sm btn-dark" id="addBtn"><i class="fa-solid fa-plus"></i> Add note</button>
        </form>
        <hr>
        <h2>Your personal notes</h2>
        <div class="row mx-0" id="notes"></div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit note</h5>
                    <button type="button" class="close closeModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-note-form">
                        <input type="hidden" id="note_uuidEdit">
                        <div class="form-group">
                            <label for="titleEdit">Note title</label>
                            <input type="text" class="form-control" id="titleEdit" placeholder="Enter your note title">
                        </div>
                        <div class="form-group">
                            <label for="descriptionEdit">Note description</label>
                            <textarea class="form-control" id="descriptionEdit" rows="3" placeholder="Enter your note descriptiom"></textarea>
                        </div>
                        <button type="button" class="btn btn-sm btn-dark" id="updateBtn"><i class="fa-solid fa-arrow-up"></i> Update note</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-dark closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Ajax script -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>